<!DOCTYPE html>
<html lang="en">
<head>
    <% include('../partials/_head.ejs') %>
</head>
<body>
    <div class="d-flex" id="wrapper">
        <!-- Sidebar -->
        <div class="bg-light border-right" id="sidebar-wrapper">
            <div class="sidebar-heading">Task Triumph</div>
            <div class="list-group list-group-flush">
                <a href="/" class="list-group-item list-group-item-action bg-light">Home</a>
                <% if (session && session.userId) { %>
                <a href="/tasks" class="list-group-item list-group-item-action bg-light">Tasks</a>
                <a href="/gamification" class="list-group-item list-group-item-action bg-light">Gamification</a>
                <a href="/profile" class="list-group-item list-group-item-action bg-light">Profile</a>
                <a href="/analytics" class="list-group-item list-group-item-action bg-light">Analytics</a>
                <a href="/chat" class="list-group-item list-group-item-action bg-light">Chat</a>
                <a href="/settings" class="list-group-item list-group-item-action bg-light">Settings</a>
                <a href="/auth/logout" class="list-group-item list-group-item-action bg-light">Logout</a>
                <% } else { %>
                <a href="/auth/login" class="list-group-item list-group-item-action bg-light">Login</a>
                <% } %>
            </div>
        </div>
        <!-- /#sidebar-wrapper -->
    </div>
    <!-- /#wrapper -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- jQuery, Popper.js, and Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>