<!DOCTYPE html>
<html lang="en">
<%- include('partials/_head.ejs') %>
  <body>
<%- include('partials/_header.ejs') %>
    <main role="main" class="container mt-4">
      <div class="text-center">
        <h1>Drews-FinalYearProject</h1>
        <div class="mt-5">
          <a href="/tasks" class="btn btn-primary">Tasks</a>
          <a href="/gamification" class="btn btn-success">Gamification</a>
          <a href="/profile" class="btn btn-info">Profile</a>
        </div>
      </div>
    </main>
  </body>
<%- include('partials/_footer.ejs') %>
  <script src="/js/main.js"></script>
</html>