<!DOCTYPE html>
<html lang="en">
<%- include('partials/_head.ejs') %>
  <body style="background-color: #3498db; color: #fff;">
<%- include('partials/_header.ejs') %>
    <main role="main" class="container mt-5">
      <div class="card p-4">
        <h2 class="text-center mb-4">Login</h2>
        <form action="/auth/login" method="POST">
          <div class="mb-3">
            <input type="text" name="username" placeholder="Username" required class="form-control">
          </div>
          <div class="mb-3">
            <input type="password" name="password" placeholder="Password" required class="form-control">
          </div>
          <div class="mb-3">
            <button type="submit" class="btn btn-primary btn-block">Login</button>
            <p class="text-center mt-3">Don't have an account? <a href="/auth/register">Register</a></p>
          </div>
        </form>
      </div>
    </main>
<%- include('partials/_footer.ejs') %>
  </body>
</html>
