<!DOCTYPE html>
<html lang="en">
<%- include('partials/_head.ejs') %>
<body>
<%- include('partials/_header.ejs') %>
<section class="user-privacy-settings mt-4">

<main role="main" class="container mt-4">
  <h1>Settings</h1>
  <form id="updateProfileForm" action="/profile/updateProfile" method="POST">
    <div class="form-group">
      <label for="username">New Username:</label>
      <input type="text" class="form-control" name="username" id="username" placeholder="New Username" required>
    </div>
    <button type="submit" class="btn btn-primary">Update Profile</button>
  </form>
  
  <form id="changePasswordForm" action="/profile/changePassword" method="POST" class="mt-4">
    <div class="form-group">
      <label for="currentPassword">Current Password:</label>
      <input type="password" class="form-control" name="currentPassword" id="currentPassword" placeholder="Current Password" required>
    </div>
    <div class="form-group">
      <label for="newPassword">New Password:</label>
      <input type="password" class="form-control" name="newPassword" id="newPassword" placeholder="New Password" required>
    </div>
    <button type="submit" class="btn btn-primary">Change Password</button>
  </form>
  
  <section class="user-privacy-settings mt-4">
    <h2>User Privacy Settings</h2>
    <form id="privacySettingsForm" action="/profile/privacySettings" method="POST">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" name="dataSharingPreferences" id="dataSharingPreferences">
        <label class="form-check-label" for="dataSharingPreferences">
          Allow sharing of personal data within the project or with third parties
        </label>
      </div>
      <div class="form-group">
        <label for="activityVisibility">Activity Visibility</label>
        <select class="form-control" name="activityVisibility" id="activityVisibility">
          <option value="public">Public</option>
          <option value="private">Private</option>
          <option value="friends">Friends</option>
        </select>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" name="notificationPreferences" id="notificationPreferences">
        <label class="form-check-label" for="notificationPreferences">
          Customize notification preferences
        </label>
      </div>
      <button type="submit" class="btn btn-primary">Save Privacy Settings</button>
    </form>
  </section>
</main>
<script src="/js/settings.js"></script>
<%- include('partials/_footer.ejs') %>
</body>
</html>